
/*---------------- HEADER ---------------*/
header{
	position: absolute;
	left:0px;
	right:0px;
	top:0px;

}

/*		partie: LOGO DU SITE + CONNEXION		*/
#headerHaut{
	display: flex;
	justify-content: space-between;
}

#logosite{
	width:244px;
	display: inline-block;
	margin: 15px 0px 0px 15px;
}

#connexion{

	display: inline-block;
	margin: 10px 15px 10px 0px;
}

/*		partie: BARRE DE MENU + RECHERCHE		*/

.menu {
	background-color: #e42535;
	position: relative;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.boutonMenu:hover{
	background-color: #bf0101;
}

.active{
    background-color: #bf0101;
}

.barreRech{
	margin-top: 4px;
	float:right;
	margin-right: 1%;
	border-radius: 15px;
}
.material-icons{
	float: right;
	margin-right: 0.1%;
	margin-top: 8px;
}
