<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
            <link rel="stylesheet" href="../assets/css/header.css">
            <link rel="stylesheet" href="https://www.w3school.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        {% block header %}{% endblock%}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
