{% extends 'base.html.twig' %}{#recupere base html head, body#}

{% block title %}Hello !{% endblock %}{#titre#}

{% block body %}
<div id="corps-site">
    <div class="contenu-sect">
        <article>
            <h2>Mon emploi du temps</h2>
            <p>Lorem ipsum</p>
        </article>
        <article>
            <h2>Forum</h2>
            <p>Lorem ipsum</p>
        </article>
        <article>
            <h2>Présentation</h2>
            <p>Lorem ipsum</p>
        </article>
    </div>
</div>
{% endblock %}
