{% extends 'base.html.twig' %}{#recupere base html head, body#}

{% block title %}Hello !{% endblock %}{#titre#}
{% block stylesheets %}
<style type="text/css">
    form label {
        width: 150px;
    }
</style>
{% endblock %}
{% block connexion %}
<div id="connexion" class="divhead">
    {{form_start(form) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.password) }}
        <button type="submit">login</button>
    {{ form_end(form) }}
</div>
{% endblock %}
