{% extends 'base.html.twig' %}{#recupere base html head, body#}

{% block title %}Hello !{% endblock %}{#titre#}
{% block stylesheets %}
    <link rel="stylesheet" href="../../assets/css/accueil.css">
{% endblock %}
{% block header %}{#insert le header#}
	<div id="headerHaut">
	    <div id="logo_site" class="divhead">
    		<img id="logosite" src="image/logo.png" alt="logo">
	    </div>
    	<div id="connexion" class="divhead">
	    	<div id="connexion2">
    			<input type="text" id="login" placeholder="Login"/><br>
			    <input type="text" id="mdp" placeholder="Mot de Passe"/><br>
		    	<input id="submit" class="bouton" type="submit" value="connexion"/>
	    	</div>
    	</div>
	</div>
	<div id="headerBas">
		<div class="menu">
			<ul>
				<li><a href="#" class="active">Accueil</a></li>
				<li><a href="/Forum" class="boutonMenu">Forum</a></li>
				<li><a href="/EmploiDuTemps" class="boutonMenu">Emploi du temps</a></li>
				<li><a href="/News" class="boutonMenu">News</a></li>
				<li><a href="/Aide" class="boutonMenu">Aide</a></li>
				<input href="#" class="barreRech" name="recherche" type="text" placeholder="Rechercher" required/>
                <i class="material-icons">search</i>
			</ul>
		</div>
	</div>
{% endblock %}
{% block body %}
<div id="corps-site">
    <div class="contenu-sect">
        <article>
            <h2>Mon emploi du temps</h2>
            <p>Lorem ipsum</p>
        </article>
        <article>
            <h2>Forum</h2>
            <p>Lorem ipsum</p>
        </article>
        <article>
            <h2>Présentation</h2>
            <p>Lorem ipsum</p>
        </article>
    </div>
</div>
{% endblock %}
